body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background: #43464B;
  color: white;
  width: 100vw;
}

header h1 {
  font-weight: 300;
  text-align: center;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 2px solid white;
}

.search{
  text-align: center;
}

input {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-size: 1em;
}

button {
  border: none;
  background: inherit;
  color: white;
  font-size: 0.8em;
  outline: none;
  font-weight: 300;
}

table{
    margin: 60px auto;
    width: 90vw;
    text-align: center;
}

.title {

  font-weight: 300;
}

h2 {
  font-size: 20px;
  font-weight: 300;
}

td {
  width: 300px;
}

thead {
  text-align: center;
}

.channels_body {
  padding-top: 1000px;
}

.title td {
  font-size: 1.2em;
  padding-top: 30px;
  text-decoration: underline;
}

tbody td {
  padding-top: 20px;
  font-size: 0.75em;
}

.displayNone {
  display: none;
}

h3 {
  font-weight: 300;
}

#all, #online, #offline {
   border: 1px solid white;
   border-radius: 10px;
   padding: 5px;
   width: 80px;
   cursor: pointer;
}

#all:hover, #online:hover, #offline:hover {
  background-color: #666;
}

#all:active, #online:active, #offline:active {
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}


@media only screen and (min-width: 600px) {
  #all, #online, #offline {
     border: 1px solid white;
     border-radius: 10px;
     padding: 10px;
     width: 120px;
     cursor: pointer;
  }

  button {
    font-size: 1.5em;
  }

  .title td {
    font-size: 1.8em;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid white;
  }

  tbody td {
    font-size: 1.2em;
  }
  
   table {
   width: 70vw;
  }
  
  header h1 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1200px) {
  #all, #online, #offline {
     border: 1px solid white;
     border-radius: 10px;
     padding: 10px;
     width: 120px;
     cursor: pointer;
  }

  table {
    width: 55vw;
  }
  button {
    font-size: 1.2em;
    font-weight:300;
  }

  .title td {
    font-size: 1.8em;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid white;
  }

  tbody td {
    font-size: 1em;
  }

  header h1 {
    font-size: 2em;
  }
}
