* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background:#55585d;    
}

header {
    width: 100%;
    background-color: #43464b;
}

.header_container {
    padding: 10px 0;
    color: white;
}

.header_title {
    text-align: center;
}

.header_searchbar {
    padding-top: 8px;
    margin: 0 auto;
    text-align: center;
}

.header_searchbar input {
    font-family: "Montserrat", sans-serif;
    background: white;
    border-radius: 10px;
    outline: none;
    border: 1px solid #282a2d;
    padding: 5px 10px;
 
}

.header_searchbar button {
    border: none;
    background: inherit;
    color: white;
    font-size: 0.8em;
    outline: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

  img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid white;
  }
  
  table{
      margin: 30px auto;
      width: 90vw;
      text-align: center;
      color: white;
      border-collapse: collapse;
}
  
    
  #all, #online, #offline {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    cursor: pointer;
    background: inherit;
    color: white;
 }
 
 #all:hover, #online:hover, #offline:hover {
   background-color: #666;
 }
 
 #all:active, #online:active, #offline:active {
   box-shadow: 0 5px #666;
   transform: translateY(2px);
 }
 
  
  h2 {
    font-size: 20px;
    font-weight: bolder;
  }
  
  td {
    width: 300px;
  }
  
  thead {
    text-align: center;
  }
  
  .channels_body {
    padding-top: 1000px;
  }
  
  .title td {
    font-size: 1.2em;
    padding-top: 30px;
    text-decoration: underline;
  }
  
  tbody td {
    padding-top: 20px;
    font-size: 0.75em;
  }
  
  .displayNone {
    display: none;
  }
  
  h3 {
    font-weight: bolder;
    font-size: 12px;
  }

.offlineText {
    color: red;
}



tbody p {
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .header_container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }

  .header_searchbar {
    margin: 0;
  }

  .header_searchbar button {
    font-weight: bolder;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid white;
  }

  tbody p {
    font-size: 15px;
  }

  tbody h3 {
    font-size: 15px;
  }

  tbody tr {
    padding-top: 200px;
  }
}

@media only screen and (min-width: 800px) {
  header {
    width: 100%;
  }

  .header_container {
    display: flex;
    justify-content: space-between;
    width: 750px;
    margin: 0 auto;
  }

  table {
    margin-top: 50px;
    width: 750px;
  }

  .header_searchbar {
    margin: 0;
  }

  .header_searchbar button {
    font-weight: bolder;
  }

  img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 2px solid white;
  }

  tbody p {
    font-size: 15px;
  }

  tbody h3 {
    font-size: 15px;
  }


  #all, #online, #offline {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    background: inherit;
    color: white;
    margin: 0 10px;
 }
}
